//colors
$primaryColor: #e2fac7
$secondaryColor: #ffffff
$navbarColor: #fbd891
$navbarLightColor: #fedea7
$navbarDarkColor: #edbb75
$darkColor: black

//phone sizes
$tabletsize: 960px
$phonesize: 768px

//font sizes
$fontsizeHead: 24px

//background image texture
$photo: url("../../images/waffle_texture.png")

a
    text-decoration: none
    color: black